body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 150;
    background-color: rgb(223, 240, 158);

}
.resume-container{
    display: flex;
    background-color: rgb(183, 194, 190);
    width: 80%;
    margin:0 auto;
    border-radius: 10px;
    box-shadow:  0 0 20px rgb(53, 7, 75);
}
.left-section{
    background-color: rgb(218, 245, 193);
    color: rgb(53, 25, 6);
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px  solid transparent;
}
.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10%;
    border: 5px solid green;
    margin-bottom: 20px;
}
h1{
    font-size: 26px;
    margin: 10px 0 0;
    margin-bottom: 35px;
    text-align: center;
    color: #3b3636;
    
}
h3 {
    font-size: 18px;
    color: rgb(101, 7, 122);
    padding: 2%;
    margin: 20px 0 10px;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba 0, 0, 0, 0.;
    margin-top: 5%;
    margin-bottom: 5%;

}
ul{
    list-style-type: fill round;
    padding: 10;
    margin: 10;
    
    
}
ul li{
    margin: 5px 0;
    padding: 5px;

}

.right-section{
    padding: 20px;
    width: 65%;
    background-color: rgba(212, 167, 153, 0.082);

}
button{
font-family: 'Arial Narrow', Arial, sans-serif;
border-radius: 10px;
box-shadow: 0 0 20px rgba 0,0,0;
cursor: pointer;
margin-top: 10px;
font-size: 18px;



}
button:hover
{
    background-color: rgba(4, 73, 112, 0.39);
    color: rgb(121, 6, 6);
    
}


 